html{
    scroll-behavior: smooth;
}
body{
    background-color: #1C1C1C;
    font-family: Arial, Helvetica, sans-serif;
}
/* start-code to navbar*/
#navbardiv{
    width: 372px;
    height: auto;
    position: absolute;
    row-gap: 55;
    border-right: 10px double #FFFFFF;
    border-bottom: 10px double #FFFFFF;
    border-radius: 0px 0px 30px 0px;
}
#navbardiv li {
    top: 2.5%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    perspective: 500px;
    transform: translate(50%,50%);
    transform: rotateX(340deg) rotateY(340deg);
    transform-style: preserve-3d;
    list-style: none inside;
    font-family: "Ankh Sanctuary", sans-serif;
    font-size: 48px;
    text-align: center;
}
.home{
    color: #FFFFFF;
    text-shadow: 0px 0px 18px #FFFFFF;
}
.about{
    color: #00FFDD;
    text-shadow: 0px 0px 18px #00FFDD;
}

.skills{
    color: #00A2FF;
    text-shadow: 0px 0px 18px #00A2FF;
}
.contact{
    color: #00FF5E;
    text-shadow: 0px 0px 18px #00FF5E;
}
/* end-code to navbar*/

/* start-code to mainpage*/
#mainpage section {
    position: absolute;
    width: auto;
    height: auto;
    top: 35%;
    left: 50%;
    font-size: 54px;
    text-align: left;
        /* Add gradient to text */
    background: #ffffff; 
    -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}
#mainpage span{
    font-family: "Ankh Sanctuary", sans-serif;
    padding: 5px;
        /* Add gradient to text */
        background: linear-gradient(to right, #00FFDD, #00A2FF); 
        -webkit-background-clip: text; 
        background-clip: text; 
        -webkit-text-fill-color: transparent;

}
spline-viewer{
    position: absolute;
    cursor: none;
    transform: translate(25%, 420px);
    height: 540px;
    width: 540px;
}
/* end-code to mainpage*/
/* start-code to aboutmediv*/
#aboutmediv{
    position: absolute;
    left: 2.5%;
    top: 110%;
}
#aboutmediv h1 {
    font-family: "Ankh Sanctuary", sans-serif;
    margin: 10px;
    font-size: 128px;
    font-weight: 100;
    color: #00FFDD;
    text-shadow: 0px 0px 18px #00FFDD;
}
#aboutmediv p {
    width: 1264px;
    margin: 10px;
    color:#FFFFFF;
    font-size: 32px;
}
